<header>
    <h2
        class="mb-4 text-white-1 relative after:absolute after:bottom-0 after:left-0 after:w-[30px] after:h-[3px] after:bg-vegas-gold"
    >
        About me
    </h2>
</header>

<section class="text-light-gray text-base font-light leading-7">
    <p class="mb-4">
        I'm Creative Director and UI/UX Designer from Sydney, Australia, working
        in web development and print media. I enjoy turning complex problems
        into simple, beautiful and intuitive designs.
    </p>

    <p class="mb-4">
        My job is to build your website so that it is functional and
        user-friendly but at the same time attractive. Moreover, I add personal
        touch to your product and make sure that is eye-catching and easy to
        use. My aim is to bring across your message and identity in the most
        creative way. I created web design for many famous brand companies.
    </p>
</section>
