---
import About from "../Content/About/About.astro";
import Resume from "../Content/Resume/Resume.astro";
import Navbar from "../Navbar/Navbar.astro";
import Sidebar from "../Sidebar/Sidebar.astro";
---

<Sidebar />
<div class="main-content">
    <Navbar />
    <About />
    <Resume />
</div>
