---
import About from "../Content/About/About.astro";
import Navbar from "../Navbar/Navbar.astro";
import Sidebar from "../Sidebar/Sidebar.astro";
---

<div class="mx-auto max-w-[1200px] flex justify-center items-start gap-[25px]">
    <Sidebar />
    <div class="main-content">
        <Navbar />
        <About />
    </div>
</div>
