---
// Props definition
interface TestimonialProps {
    imgSrc: string;
    alt: string;
    name: string;
    text: string;
}
const { imgSrc, alt, name, text } = Astro.props as TestimonialProps;
---

<li class="testimonials-item">
    <div class="content-card" data-testimonials-item>
        <figure class="testimonials-avatar-box">
            <img src={imgSrc} alt={alt} width="60" data-testimonials-avatar />
        </figure>
        <h4 class="h4 testimonials-item-title" data-testimonials-title>
            Daniel lewis
        </h4>

        <div class="testimonials-text" data-testimonials-text>
            <p>{text}</p>
        </div>
    </div>
</li>
