---
import NavButton from "./NavButton.astro";

const items = [
    { name: "About", href: "#" },
    { name: "Resume", href: "#" },
    { name: "Portfolio", href: "#" },
    { name: "Blog", href: "#" },
    { name: "Contact", href: "#" },
];
---

<nav class="navbar">
    <ul class="navbar-list">
        {items.map((item) => <NavButton {...item} />)}
    </ul>
</nav>
