---
const { title, link, linkText, icon } = Astro.props;
---

<li class="contact-item">
    <div class="icon-box" set:html={icon} />

    <div class="contact-info">
        <p class="contact-title">{title}</p>

        <a href={link} class="contact-link"> {linkText}</a>
    </div>
</li>
